/* Moved the body styling to the top of the page */
/* Added margin and padding to 0 in the body */
body {
  background-color: #d9dcd6;
  margin: 0;
  padding: 0;
}

/* 1 Added styling to section h1. */
/* Replaced section with header aand removed .header in the styling. */
/* consolidated header and .header styling because I removed the class. */
header {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  padding: 20px;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
  background-color: #2a607c;
  color: #ffffff;
}
/* removed .header in h1 */
header h1 {
  display: inline-block;
  font-size: 48px;
}

/* Removed header h1 preceding class seo */
.seo {
  color: #d9dcd6;
}
/* Removed .header and replaced it with section */
header nav {
  padding-top: 15px;
  margin-right: 20px;
  float: right;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  font-size: 20px;
  list-style-type: none;
}
/* Removed .header div ul styling and added it to section div because they all have the sme styling. */
/* Removed .header div ul li and consolodated it to section div above. */
/* Added back .header div ul li styling and replaced .header with section. */
/* Replaced the div tag in h1 with nav element.*/

header nav ul li {
  display: inline-block;
  margin-left: 25px;
}
a {
  color: #ffffff;
  text-decoration: none;
}

p {
  font-size: 16px;
}

.hero {
  height: 800px;
  width: 100%;
  margin-bottom: 25px;
  background-image: url("../images/digital-marketing-meeting.jpg");
  background-size: cover;
  background-position: center;
}

.float-left {
  float: left;
  margin-right: 25px;
}

.float-right {
  float: right;
  margin-left: 25px;
}

.content {
  width: 75%;
  display: inline-block;
  margin-left: 20px;
}
/* Replaced Search Engine Optimization,Online Reputation Management,Social Media Marketing classes with Product */
/* Removed repetetive product styling and mainatined one. */
/* Moved .products styling above .benefits because that's the order in the html file.*/
.product {
  margin-bottom: 20px;
  padding: 50px;
  height: 300px;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  background-color: #0072bb;
  color: #ffffff;
}
/* Replaced Search Engine Optimization,Online Reputation Mangement,Social Media Marketing class with product */
/*  Consolidated repetitive styling for .product img and .product h2. Maintained one for each. */

.product img {
  max-height: 200px;
}

.product h2 {
  margin-bottom: 20px;
  font-size: 36px;
}
.benefits {
  margin-right: 20px;
  padding: 20px;
  clear: both;
  float: right;
  width: 20%;
  height: 100%;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  background-color: #2589bd;
}

/* Removed -lead, -brand, -cost and maitntained benefit for consolidated styling */
/* Consolidated repetitive styling for .benefit, .benefit h3 and .benefit img. Maintained one for each. */
.benefit {
  margin-bottom: 32px;
  color: #ffffff;
}

/* Removed -lead, -brand, -cost and maitntained benefit in h3 and img tags. */
.benefit h3 {
  margin-bottom: 10px;
  text-align: center;
}
.benefit img {
  display: block;
  margin: 10px auto;
  max-width: 150px;
}

/* Removed class in css and replaced with footer  */
footer {
  padding: 30px;
  clear: both;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
  text-align: center;
}
/*Moved h2 element to precede footer and moved the styling to the top of the page.*/
/* Reverted back footer to preced h2 and moved the styling to the bottom of the page. */
footer h2 {
  font-size: 20px;
}
